In [ ]:
import mysql.connector as conn
import pandas as pd
import pymongo
import json

## 1. Create a Table of attribute dataset and dress dataset in mysql workbench/python

In [ ]:
attribute_dataset = pd.read_excel('datafsds/Attribute DataSet.xlsx')
attribute_dataset.info()

#### According to the info we get from the data frame we write the table schema

In [ ]:
attribute_table_schema = """
CREATE TABLE IF NOT EXISTS attribute(
Dress_Id BIGINT PRIMARY KEY,
Style VARCHAR(20),
Price VARCHAR(20),
Rating DOUBLE(2,1),
Size VARCHAR(6),
Season VARCHAR(20),
NeckLine VARCHAR(20),
SleeveLength VARCHAR(20),
waiseline VARCHAR(20),
Material VARCHAR(20),
FabricType VARCHAR(20),
Decoration VARCHAR(20),
PatternType VARCHAR(20),
Recommendation INT(1)
)
"""

In [ ]:
dress_sale_dataset = pd.read_excel('datafsds/Dress Sales.xlsx')
dress_sale_dataset.info()

In [ ]:
dress_sale_table_schema = """
CREATE TABLE IF NOT EXISTS dress_sale(
Dress_Id BIGINT,
`29-8-2013` INT,
`31-8-2013` INT,
`09-02-2013` INT,
`09-04-2013` INT,
`09-06-2013` INT,
`09-08-2013` INT,
`09-10-2013` INT,
`09-12-2013` INT,
`14-9-2013` INT,
`16-9-2013` INT,
`18-9-2013` INT,
`20-9-2013` INT,
`22-9-2013` INT,
`24-9-2013` INT,
`26-9-2013` INT,
`28-9-2013` INT,
`30-9-2013` INT,
`10-02-2013` INT,
`10-04-2013` INT,
`10-06-2013` INT,
`10-08-2010` INT,
`10-10-2013` INT,
`10-12-2013` INT,
FOREIGN KEY(Dress_Id) REFERENCES attribute(DRESS_Id)
)
"""

#### make changes according to the mysql setting in the local or the server you are using

In [ ]:
# Conntecting to mysql server
mysql_settings = {
    "host":"localhost",
    "user":"root",
    "passwd":"th1nk11t",
    "allow_local_infile":True
}

In [ ]:
# mysql = conn.connect(host=mysql_settings.get('server'),user=mysql_settings.get('user'),passwd=mysql_settings.get('password'),allow_local_infile=True)
mysql = conn.connect(**mysql_settings)
mysql

In [ ]:
cursor = mysql.cursor()
cursor

#### creating databse in mysql

In [ ]:
cursor.execute('CREATE DATABASE IF NOT EXISTS LiveClassTask')

In [ ]:
cursor.execute('USE LiveClassTask')

#### creating tables in mysql

In [ ]:
cursor.execute(attribute_table_schema.replace('\n',''))

In [ ]:
cursor.execute(dress_sale_table_schema.replace('\n',''))

In [ ]:
cursor.execute("SHOW TABLES")
cursor.fetchall()

## 2. Do a bulk load for these 2 tables for respective dataset in mysql workbench/python

Bulk upload of data can be done by the csv file so we save the data frame in csv file without indexing

In [ ]:
attribute_dataset.to_csv('./attribute_dataset.csv',index=False)
dress_sale_dataset.to_csv('./dress_sale.csv',index=False)

In [ ]:
load_attribute_data = """LOAD DATA LOCAL INFILE "/home/bhoodev/ineuron/live_class_sessions/pandas_class/attribute_dataset.csv" INTO TABLE LiveClassTask.attribute FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 LINES;"""

In [ ]:
cursor.execute(load_attribute_data)
mysql.commit()

In [ ]:
load_dress_data = """LOAD DATA LOCAL INFILE "/home/bhoodev/ineuron/live_class_sessions/pandas_class/dress_sale.csv" INTO TABLE LiveClassTask.dress_sale FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 LINES;"""

In [ ]:
cursor.execute(load_dress_data)
mysql.commit()

## 3. Read these datasets in pandas as a dataframe

In [ ]:
attribute_dataset = pd.read_excel('datafsds/Attribute DataSet.xlsx')
dress_sale_dataset = pd.read_excel('datafsds/Dress Sales.xlsx')

## 4. Convert Attribute Dataset in JSON Format (.to_json will be used)

Here we convert the dataset into json file row by row

In [ ]:
attribute_dataset.to_json("attribute_dataset.json",orient='records')

In [ ]:
dress_sale_dataset.to_json("dress_sale.json",orient='records')

## 5. Store this json dataset into mongodb (Insert_many will be used)

In [ ]:
# Stablishing connection
client = pymongo.MongoClient("mongodb+srv://bhoodev:th1nk11t@bhoodev.angnq.mongodb.net/?retryWrites=true&w=majority")

# Creating database in mongodb
database = client['LiveClassTask']

# creating collection set for secific data's
attribute_colletion = database['attribute']
dress_sale_collection  = database['dress_sale']

In [ ]:
# Reading the json file we saved and reading it as json
with open('attribute_dataset.json') as file:
    attribute_data_to_mongo_db = json.load(file)

In [ ]:
# saving data to mongodb server
attribute_colletion.insert_many(attribute_data_to_mongo_db)

In [ ]:
# Reading the json file we saved and reading it as json
with open('dress_sale.json') as file:
    dress_sale_data_to_mongo_db = json.load(file)

In [ ]:
# saving data to mongodb server
dress_sale_collection.insert_many(dress_sale_data_to_mongo_db)

## 6. In SQL task, try to perform left join operation with Attribute dataset and dress dataset on column Dress_ID

In [ ]:
query = "SELECT a.* FROM attribute a LEFT JOIN dress_sale d ON a.Dress_Id = d.Dress_Id"
cursor.execute(query)

In [ ]:
result = cursor.fetchall()

## 7. Write the SQL query to find out how many unique dress that we have based on Dress_ID

In [ ]:
query = "SELECT COUNT(DISTINCT Dress_Id) FROM attribute"
cursor.execute(query)
cursor.fetchall()

## 8. Try to find out how many dress is having recommendation as 0

In [ ]:
query = "SELECT COUNT(*) FROM attribute WHERE Recommendation=0"
cursor.execute(query)
cursor.fetchall()

## 9. Try to find out total dress sales for each and every Dress_ID

In [ ]:
query = """select Dress_Id,sum(`29-8-2013`+`31-8-2013`+`09-02-2013`+`09-04-2013`+`09-06-2013`+`09-08-2013`+`09-10-2013`+`09-12-2013`+`14-9-2013`+`16-9-2013`+`18-9-2013`+`20-9-2013`+`22-9-2013`+`24-9-2013`+`26-9-2013`+`28-9-2013`+`30-9-2013`+`10-02-2013`+`10-04-2013`+`10-06-2013`+`10-08-2010`+`10-10-2013`+`10-12-2013`) 'Total Sale' 
from dress_sale 
group by Dress_Id;"""

cursor.execute(query.replace('\n',''))
cursor.fetchall()

## 10. Try to find out the third highest most selling Dress_ID

In [ ]:
query = """select new.* 
from (
select Dress_Id,sum(`29-8-2013`+`31-8-2013`+`09-02-2013`+`09-04-2013`+`09-06-2013`+`09-08-2013`+`09-10-2013`+`09-12-2013`+`14-9-2013`+`16-9-2013`+`18-9-2013`+`20-9-2013`+`22-9-2013`+`24-9-2013`+`26-9-2013`+`28-9-2013`+`30-9-2013`+`10-02-2013`+`10-04-2013`+`10-06-2013`+`10-08-2010`+`10-10-2013`+`10-12-2013`) as TotalSale 
from dress_sale 
group by Dress_Id 
order by TotalSale DESC LIMIT 3 
) new 
order by new.TotalSale LIMIT 1;
"""

cursor.execute(query.replace('\n',''))
cursor.fetchall()